<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Empleados</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h1 class="card-title text-center">Lista de Empleados</h1>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% for empleado in empleados %}
            <li class="list-group-item">{{ empleado }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
